<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}hi{% endblock %}</title>

    {% block stylesheets %}







    {% endblock %}
    {% block javascripts %}
    {% endblock %}


</head>

<body>
{% block body %}
{% endblock %}
</body>


</html>